<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Uploading
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="readOnlyMode">
  SEI UN LETTORE 
</ion-content>
<div *ngIf="readOnlyMode;else elseblock"></div>
<ion-grid>
  


<ng-template  #elseblock>
  <ion-row>
    <ion-col>
      <ion-list>

        <ion-item>
          <ion-label fixed>Altezza (cm)</ion-label>
          <ion-input [(ngModel)]="altezza" value="" (keypress)="numberOnlyValidation($event)"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label fixed>Peso (kg)</ion-label>
          <ion-input [(ngModel)]="peso" value = "" (keypress)="numberOnlyValidation($event)"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label fixed>Età</ion-label>
          <ion-input [(ngModel)]="eta" value = "" (keypress)="numberOnlyValidation($event)"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label fixed>Pressione min (mmHg)</ion-label>
          <ion-input [(ngModel)]="pressioneMin" value = "" (keypress)="numberOnlyValidation($event)"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label fixed>Pressione max (mmHg)</ion-label>
          <ion-input [(ngModel)]="pressioneMax" value = "" (keypress)="numberOnlyValidation($event)"></ion-input>
        </ion-item>
    
      </ion-list>
    
      
    
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
      <ion-button color="primary" shape="round" (click)="clickUpload()">UPLOAD FILE</ion-button>
  </ion-row>
    
</ng-template>
</ion-grid>