<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-list *ngIf = "readOnlyMode">

    <ion-item>
      <ion-label fixed>VALORE 1</ion-label>
      <ion-input [(ngModel)]="valore1" type="text" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>VALORE 2</ion-label>
      <ion-input [(ngModel)]="valore2" type="text" value = ""></ion-input>
    </ion-item>

  </ion-list>

  <button ion-button color="light" (click)="clickUpload()">UPLOAD FILE</button>

</ion-content>
