<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  


<ion-item *ngFor="let item of array">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{item.valore1}}</ion-card-title>
        <ion-card-subtitle>{{item.valore2}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
  </ion-item>

  

</ion-content>
